
.animation-underline {
    position: relative;
    transition: 0.3s ease;
}

.animation-underline:hover {
    color: var(--clr-accent-200);
}

.animation-underline::after {
    content: '';
    width: 0;
    height: 2.3px;
    background: var(--clr-secondary-900);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.3s;
}

.animation-underline:hover::after {
    width: 100%;
}